@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 */

 /* Tokens rápidos */
:root{
  --radius: 1rem;
  --color-ink: #222222; /* ink */
  --color-lime: #d7fc00; /* lime */
  --color-teal: #00ffbd; /* teal */
  --color-blue: #0101ff; /* blue */
  --color-white: #FFFFFF;
}

/* Global resets */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 @theme {
    --color-lime: #d7fc00,
    --color-ink: #222222,
    --color-cust-teal: #00ffbd,
    --color-cust-blue: #0101ff,
    --color-cust-white: #FFFFFF,
 }

 .masked {
   -webkit-mask-image: url('/sections/how/recorte-papel.png');
   -webkit-mask-size: cover;
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-position: top;
   mask-image: url('/sections/how/recorte-papel.png');
   mask-size: contain;
   mask-repeat: no-repeat;
   mask-position: center;
 }
